/* @import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-950 text-slate-100 antialiased selection:bg-sky-500 selection:text-white;
  }
} */


@import "tailwindcss";

@theme {
  --color-brand-pink: #ff0055;
  --color-brand-dark: #08080a;
}

@layer base {
  body {
    background-color: var(--color-brand-dark);
    color: #f8fafc;
    
  }
  a, button, input, textarea {
  cursor: pointer;
  }
}